@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl;
  }
  
  .glass-dark {
    @apply bg-brand-900/80 backdrop-blur-md border border-brand-700/30 shadow-xl;
  }
}

body {
  margin: 0;
  min-height: 100vh;
}

@media print {
  body * { visibility: hidden; }
  #printable-certificate, #printable-certificate * { visibility: visible; }
  #printable-certificate { position: absolute !important; left: 0 !important; top: 0 !important; width: 100% !important; margin: 0 !important; padding: 0 !important; display: block !important; }
}

